<h1>shhhhh! You have found the super secret page!</h1>

Hi <%= current_user.username%>


<h3>You should only be able to see this if you are logged in!!!</h3>
<br>

<h4>Here's the secret:</h4>

<br><br>
<p>In 1986, Apple launched a clothing line:</p>

<img src="http://mentalfloss-ressh.cloudinary.com/image/upload/v1555924909/shape/mentalfloss/apple-clothing-line.png">